* {
  margin: 0;
  padding: 0;
}
/* banner section styles  */
body {
  font-family: "Lato", sans-serif;
}
.header-container {
  background: rgba(229, 84, 115, 0.1);
  height: 1920px;
  height: 850px;
  margin-bottom: 178px;
}
.banner-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 120px;
}
.banner-title {
  color: #272727;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin: 32px 0px;
  width: 634px;
}
.btn-primary {
  border-radius: 5px;
  background: #e55473;
  border: none;
  color: white;
  padding: 15px 38px;
  font-size: 17px;
  font-weight: 700;
}
.banner-flower img {
  margin-top: 50px;
}

/* flowers section styles  */
.flower-section {
  margin: 0px 235px;
}
.flowers {
  text-align: center;
}
.flowers-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.flower-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 48px;
}
.flower-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.pink-flower {
  background: rgba(167, 33, 98, 0.15);
  border-radius: 300px 300px 0px 0px;
  padding: 110px 78px 0px 78px;
}
.red-flower {
  background: rgba(5, 151, 160, 0.15);
  border-radius: 300px 300px 0px 0px;
  padding: 117px 47px 51px 47px;
}
.yellow-flower {
  background: rgba(71, 125, 17, 0.15);
  border-radius: 300px 300px 0px 0px;
  padding: 67px 75px 0px 75px;
}
.pink-flower img {
  width: 310px;
  height: 428px;
}
.flower-name {
  margin-top: 32px;
  text-align: center;
}
/* extra-contact  */
.extra-contact-section {
  margin: 0px 235px;
}
.extra-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 128px 0px 128px;
  gap: 271px;
  background: rgba(39, 39, 39, 0.05);
  padding: 86px 0px;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact img {
  margin-bottom: 24px;
}
.contact-tittle {
  color: rgba(39, 39, 39, 0.8);
  font-size: 18px;
  font-weight: 600;
}

/* instagram section  */
.instagram-section {
  margin-bottom: 128px;
}
.instagram {
  text-align: center;
}
.instagram-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.instagram-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 48px;
}
.instagram-flower {
  display: flex;
  justify-content: center;
  align-items: center;
}
.instagram-flower img {
  /* box-shadow: 20px 10px 15px 5px; */
  margin-left: 15px;
  border-radius: 5px;
}
/* threads section  */
.threads-section {
  text-align: center;
  margin-bottom: 128px;
}
.threads {
  width: 58%;
  height: auto;
  margin: 0 auto;
}
.threads-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.threads-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 48px;
}
.threads-flower img {
  margin-left: 15px;
  border-radius: 5px;
}
.deals-section {
  text-align: center;
  background-image: url("../Flower Asset/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1400px;
  height: 449px;
  margin: 0px auto 128px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deals-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.deals-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 48px;
}
.deals-inputBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-field {
  border-radius: 8px;
  background: #fff;
  padding: 15px 15px;
  border: none;
  border-radius: 5px;
  width: 700px;
  height: auto;
}
.deals-btn {
  margin-left: 10px;
}
/* footer container  */
.footer-container {
  background: #111010;
  width: 1922px;
  height: 449px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-title {
  font-size: 48px;
  font-weight: 800;
}
.footer-flower-color {
  color: #e55473;
}
.footer-description {
  width: 55%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 24px;
  margin-top: 24px;
}
.footer-reserved {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
}
